 <!-- <nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/vq61oshscjeaisjgxoij" width="40" height="40" class="d-inline-block " alt="">
        Gas360
    </a>
  <span class="navbar-nav mr-auto">
    <a class="nav-item nav-link" routerLink="/login-component" routerLinkActive="active">Login</a>
  </span>
  
  </nav> -->
  
  
<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/vq61oshscjeaisjgxoij" width="40" height="40" class="d-inline-block " alt="">
      Gas360
  </a>
  
  <!-- <button (click)="popme()" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <span class="navbar-nav mr-auto">
    <span class="nav-item nav-link">
      <span class="active text-light" routerLink="/login-component" routerLinkActive="active">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg> Login
      </span>&nbsp;
     <span class="active text-light" routerLink="/register-component" routerLinkActive="active">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard-plus-fill" viewBox="0 0 16 16">
        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0Z"/>
      </svg> Register
     </span>
    </span>
      
  </span>

</nav>

  &nbsp;&nbsp;&nbsp;<br><br><br>